// Header classes
.header {
  background-color: $main-color;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 16px;
  color: $lighter-color;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);

  &-title {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;

    .logo {
      height: 100%;
    }

    .logo-writing {
      height: 50%;
      aspect-ratio: 10/1;
    }
  }

  &-info {
    color: $lighter-color;
  }

  @media (max-width: $screen-threshold) {
    height: 60px;

    .logo-writing {
      aspect-ratio: 8/1;
    }
  }
}
