$main-color: #444;
$light-color: #ccc;
$lighter-color: #eee;
$dark-color: #303030;
$darker-color: #000000;

$transition-time-long: 1s;
$transition-time-medium: 0.5s;
$transition-time-short: 0.25s;

$screen-threshold: 768px;
