$base-font: 16px;

$padding-small: 16px;
$header-height: 80px;

//Colors
$lighter-color: #eee;
$light-color: #ccc;
$medium-light-color: #d0d0d0;
$medium-dark-color: #444;
$dark-color: #303030;
$darker-color: #000000;
