@use "../../../styles/modules" as m;

.wrapper {
  height: m.$header-height;
  background-color: m.$dark-color;
  padding: m.rem(16px) m.rem(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.images {
  &--wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &--logo {
    height: 100%;
  }

  &--title {
    height: 50%;
    padding-left: m.rem(16px);
  }
}

.buttons {
  &--wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &--icon {
    color: m.$light-color;
  }
}
